body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  height: 100%;
  width: 100%;
  position: absolute;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.red {
  color: #ff0000;
}

.yellow {
  color: #ffff00;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.blue {
  color: #BCDCF5;
}

.orange {
  color: #FF8A48;
}

.leaflet-touch .leaflet-bar a {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.leaflet-popup-pane {
  opacity: 0.8 !important;
}

.leaflet-popup-content-wrapper {
  font-size: 14px;
  height: 100%;
}

.leaflet-popup {
  height: auto;
}

.leaflet-popup p {
  margin: 5px 0;
}

.leaflet-popup-tip-container {
  display: none !important;
}

.popup {
  position: absolute;
  top: 0;
  left: 50%;
  width: 150px;
  height: auto;
  background-color: rgb(244, 244, 244);
  padding: 10px;
  border-radius: 10px;
  z-index: 20000;
  font-size: 14px;
  font-size: 80%;
  right: 0;
  margin-right: 0.5em;
}

.popup::before {
  content: '\f0b2';
}

.leaflet-popup-content {
  width: auto !important;
}

.leaflet-popup-pane p {
  white-space: nowrap;
}

.feature {
  stroke: #ff0000;
  stroke-dasharray: 10;
  stroke-width: 3 !important;
}

.completeness-control {
  background-color: white;
  padding: 20px;
}

.roadNetwork {
  stroke: #BCDCF5;
  stroke-width: 10 !important;
}

.validButton, .notValidButton, .duplicateButton, .popup {
  color: #004B7F;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 5px 10px;
  text-align: center;
}

.duplicateButton {
  margin-left: 0.3em;
}

.button-row {
  text-align: center;
  white-space: nowrap;
}

.validButton:hover, .notValidButton:hover, .duplicateButton:hover {
  color: #ffffff;
}

.validButton:focus, .notValidButton:focus, .duplicateButton:focus {
  outline: none;
}

.validButton::before, .notValidButton::before, .popup::before, .duplicateButton::before {
  font-family: FontAwesome;
  position: relative;
  font-size: 90%;
}

.validButton::before {
  content: '\f00c ';
}

.notValidButton::before {
  content: '\f00d ';
}

.duplicateButton::before {
  content: '\f0c5 '
}

.move.move-right, .move.move-left {
  text-decoration: none;
  border: none;
  background-color: transparent;
  outline: none;
  font-family: FontAwesome;
  position: absolute;
}

.move.move-right {
  top: 0;
  right: -5px;
}

.move.move-left {
  top: 0;
  left: -5px;
}

.move.move-right::before {
  content: '\f061';
}

.move.move-left::before {
  content: '\f060';
}

.validButton:hover {
  background-color: #008D8D;
}

.notValidButton:hover {
  background-color: #DF1B12;
}

.duplicateButton:hover {
  background-color: coral
}

.userMetrics {
  position: absolute;
  float: right;
  top: 0;
  z-index: 10000;
  right: 0;
  background-color: rgb(244, 244, 244);
  padding: 3px;
  font-size: 12px;
  line-height: 1.5;
  font-style: normal !important;
  font-weight: normal !important;
  font-stretch: normal !important;
  font-variant-ligatures: normal !important;
  font-variant-caps: normal !important;
  font-variant-numeric: normal !important;
  font-variant-east-asian: normal !important;
  font-family: Arial, Helvetica, sans-serif !important
}

.copyText {
  cursor: pointer;
}

.copyText:hover {
  background-color: #004B7F;
  color: white;
}

.copyText:hover::after {
  content: 'click to copy value';
  padding: 0.5em;
  background-color: rgb(244, 244, 244);
  color: #333;
  position: absolute;
  left: 30%;
  top: 100%;
  white-space: nowrap;
  z-index: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
}

.taskId:target, .taskId:active {
  animation-name: blink;
  animation-duration: 1s;
}

.location-label {
  font-weight: bold
}

.location-label:hover::after {
  top: 0%
}

@keyframes blink {
  from {
    background-color: rgb(244, 244, 244);
  }
  to {
    background-color: #004B7F;
  }
}

.buttonContainer {
  position: absolute;
  display: inline-flex;
  flex-direction: row;
  bottom: 0;
  z-index: 10000;
  padding: 5px;
  text-align: center;
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}


.toggle-button-label {
  display: inline-block;
  vertical-align: super;
  margin: 5px;
}


.toggle-button-slider {
  height: 20px;
  width: 48px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 15px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.toggle-button {
  height: 20px;
  width: 24px;
  border-radius: 12px;
  background-color: red;
  position: absolute;
  left: 0;
  border: none;
}

.toggle-button-clicked {
  height: 20px;
  width: 24px;
  border-radius: 12px;
  background-color: green;
  position: absolute;
  right: 0;
  border: none;
  /* cursor: pointer; */
}

.switchContainer {
  position: absolute;
  display: inline-flex;
  flex-direction: row;
  top: 13%;
  z-index: 10000;
  padding: 5px;
  margin-left: 3px;
  text-align: center;
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.switchContainer>div {
  background-color: rgb(244, 244, 244);
  /* border-radius: 15px; */
  height: 3vh;
  width: auto;
  border-radius: 15px;
  z-index: 20000;
  padding: 10px;
}

.buttonContainer div {
  background-color: rgb(244, 244, 244);
  margin: 5px;
  padding: 5px;
  min-width: 60px;
  min-height: 40px;
  border-radius: 15px;
}

.buttonText {
  font-weight: bold;
}

.icon {
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.5em !important;
  padding-left: 0.45em;
  background: transparent;
  border: none;
}

.modal-content {
  background-color: #ffffff;
  border-radius: 0.5em;
  max-width: 1000px;
  min-width: 500px;
  min-height: 250px;
  height: auto;
  padding: 0.5em;
}

.modal-content p {
  font-size: 10pt;
}

.modal-footer button {
  float: right;
  right: 1em;
  bottom: 0.5em;
  position: relative;
  cursor: pointer;
  background-color: #5D7CA8;
  border: 1px solid #5D7CA8;
  color: white;
  font-weight: bold;
}

video {
  margin-top: -7%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lds-hourglass {
  position: absolute;
  width: 64px;
  height: 64px;
  margin: auto;
  top: 50%;
  left: 50%;
}

.lds-hourglass:after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #000000;
  border-color: #000000 transparent #000000 transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.customLeafletBarButton {
  background-color: white;
  cursor: pointer;
  width: 45px;
  height: 45px;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
}

.lds-dual-ring:after {
  content: "";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #ff0000;
  border-color: #ff0000 transparent #ff0000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  z-index: 30001;
  height: 4px;
  width: 100%;
  position: fixed;
  overflow: hidden;
  background-color: transparent;
}

.loader:before {
  display: block;
  position: fixed;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #b1110e;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}

.disable-all-interaction {
  display: block;
  z-index: 30000;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: .00;
  filter: alpha(opacity=00);
}

.kicker-popup {
  width: 300px;
}

.overlap-popup {
  width: 380px;
}

.non-deletable-marker{
  background-color: lightskyblue;
  border: 1px solid lightskyblue;
  border-radius: 50%;
  margin: -8px 0 0 -8px !important;
  width: 14px !important;
  height: 14px !important;
  outline: 0;
  -webkit-transition: opacity ease 0.3s;
  transition: opacity ease 0.3s;
}